In [1]:
import pandas as pd
df = pd.read_excel("iris_xlsx.xlsx")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [2]:
from sklearn.preprocessing import StandardScaler
x = df.drop(["Species"], axis = 1)
y = df["Species"]

x = StandardScaler().fit_transform(x)
x = pd.DataFrame(x, columns = df.columns[:-1])
x.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0     -0.900681     1.019004     -1.340227    -1.315444
1     -1.143017    -0.131979     -1.340227    -1.315444

In [3]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
pc = pca.fit_transform(x)
df_pc = pd.DataFrame(data = pc, 
                     columns = ["pc1", "pc2"])
df_pc.head()

        pc1       pc2
0 -2.264703  0.480027
1 -2.080961 -0.674134
2 -2.364229 -0.341908
3 -2.299384 -0.597395
4 -2.389842  0.646835

In [4]:
pca.explained_variance_ratio_

array([0.72962445, 0.22850762])

In [5]:
sum(pca.explained_variance_ratio_)

0.9581320720000164